:root {
  font: 16px/1.5 system-ui, sans-serif;
  color-scheme: light dark;
}

html,
body,
#root,
main,
.terrain-view {
  height: 100%;
}

body {
  margin: 0;
}

.terrain-view canvas {
  display: block;
}
